{{> header}}
{{!-- <div class="container home wrapper  my-md-5 pl-md-5">
    <div class="d-md-flex flex-md-equal ">
        <div class="col-md-5">
            <img class="responsive" src="./images/01.svg" />
        </div>
        <div class="home-text col-md-7">
            <h2 class="featurette-heading">Do you wonder if your idea is good?</h2>
            <p class="lead">Join our family =)</p>
            <p class="lead">Post your ideas!</p>
            <p class="lead">Find what other people think!</p>
            <p class="lead">Comment on other people's ideas.</p>
        </div>
    </div>
    <div class="bottom text-center">
        {{#if loggedIn}}
        {{else}}
        <a class="btn btn-secondary btn-lg " href="#/register">Get Started</a>
        {{/if}}
    </div>
</div> --}}

<!-- Home page -->
<div style="margin-top:3%; padding-top: 3%;" class="container">
    <div class="row align-items-center my-5">
        <div class="col-lg-12">
            <img style="margin: 0 auto; display:block;" class="img-fluid rounded mb-4 mb-lg-0"
                src="https://www.jisc.ac.uk/sites/default/files/styles/710px-wide/public/open-sign-blog.jpg?itok=rxVL2-Kn" alt="">
        </div>
        <div style="text-align:center;margin-top:5%;" class="col-lg-12">
            <h1 class="font-weight-light">Does your business need support?</h1>
    
            {{#if loggedIn}}
            <a class="btn btn-primary" href="#/create">Create your cause and seek for donors</a>
            {{else}}
            <a class="btn btn-primary" href="#/register">Register</a>
            {{/if}}

        </div>
    </div>
</div>
<!-- ./Home page -->
{{> footer}}